#==================================================================
# Record example for an IntField, RW, 1 element, no encoding register.
# It is a longout record with type asynInt32.
# The OUT field has the form @asyn(PORT,ADDR)PARAM where:
#  - PORT  : The asyn port name. It must match the port name given 
#            when calling "YCPSWASYNConfig" on st.cmd
#  - PARAM : The asyn paramter name. It must be defined in the 
#            dictionary file and assigned to a register.
#  - ADDR  : Addrres based on the type of register.
#            For IntField, RW, without encoding is 1.
#==================================================================

record(longout, "$(P):$(R)") {
    field(DTYP, "asynInt32")
    field(DESC, "$(DESC)")
    field(PINI, "$(PINI)")
    field(SCAN, "$(SCAN)")
    field(OUT,  "@asyn($(PORT),1)$(PARAM)")
    field(EGU,  "$(EGU)")
    info(autosaveFields, "VAL")
}
